numpy
pandas
xarray
netCDF4
scipy
statsmodels
scikit-learn
matplotlib
cartopy
cmocean
gsw
pymannkendall
openpyxl
jupyter
notebook
marineHeatWaves
dask
cftime
seaborn
geopandas
shapely
pyproj
rasterio
tqdm
